<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Gymnasium</title>
		<link rel="stylesheet" href="../style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<script src="../script.js"></script>	
	</head>
	<body>
		<section id="header">
			<nav>
				<div class="left">
					<img src="../images/logo.jpg" alt="" width="50px" height="50px">
					<div>
						<h4>Gymnasium</h4>
						<span>GYM CENTER</span>
					</div>
				</div>
				<ul>
					<li><a href="../index.html">Home</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="gallery.html">Gallery</a></li>
					<li><a href="schedule.html">Schedule</a></li>
					<li><a href="blog.html">Blog</a></li>
					<li><a href="pricing.html">Pricing</a></li>
					<li><a href="classes.html">Classes</a></li>
					<li><a href="contact.html" class="active">Contact</a></li>
				</ul>
				<div class="right">
					<i class="fa-solid fa-bars bar"></i>
					<a href="signup.html"><i class="fa-regular fa-user"></i></a>
					<i class="fa-regular fa-chart-bar"></i>
					<a href="contact.html" class="join"><button>Join Class Now</button></a>
				</div>
			</nav>
			<div class="title">
				<h2>Contact Us</h2>
			</div>
		</section>

		<section id="contact">
			<div class="left">
				<h2>We are here for help you! To Shape Your Body.</h2>
				<p>At Gymate, we are dedicated to helping you achieve the body of your dreams. Our expert trainers and nutritionists will work with you to create a personalized fitness and nutrition plan that helps you reach your specific goals.</p>
				<div class="content">
					<div>
						<h3>New York City, USA</h3>
						<p>85 Briston Mint Street,</p>
						<p>London, E1 8LG, USA</p>
					</div>
					<div>
						<h3>Opening Hours</h3>
						<p>Mon to Fri: 7:30 am — 1:00 am</p>
						<p>Mon to Fri: 7:30 am — 1:00 am</p>
					</div>
					<div>
						<h3>Information</h3>
						<p>+800-123-4567</p>
						<p>gym@gmail.com</p>
					</div>
					<div>
						<h3>Follow Us On</h3>
						<div class="icons">
							<i class="fa-brands fa-facebook-f"></i>
							<i class="fa-brands fa-twitter"></i>
							<i class="fa-brands fa-pinterest-p"></i>
							<i class="fa-brands fa-youtube"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="right">
				<form action="../index.html" novalidate method="post">
					<h2>Leave Us Your Info</h2>
					<input type="text" placeholder="Full Name*">
					<input type="email" placeholder="Email Address*">
					<select name="classes" id="classes">
						<option value="" selected disabled>Select Class</option>
						<option value="">Body Building</option>
						<option value="">Yoga</option>
						<option value="">Cycling</option>
						<option value="">Gym</option>
						<option value="">Workout</option>
						<option value="">Karate</option>
					</select>
					<textarea name="comment" id="comment" cols="30" rows="10" placeholder="comment"></textarea>
					<button>SUBMIT NOW</button>
				</form>
			</div>
		</section>

		<section id="map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3940.285840478756!2d38.85284627448486!3d9.03766909102399!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x164b914168e46ca3%3A0x4a7d8e46b84eed9d!2sKaralo%20Primary%20and%20Secondary%20School!5e0!3m2!1sen!2ssg!4v1695149310453!5m2!1sen!2ssg" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</section>

		<section id="footer">
			<div class="item one">
				<div class="left">
					<img src="../images/logo.jpg" alt="" width="50px" height="50px">
					<div>
						<h4>Gymnasium</h4>
						<span>ULTIMATE GYM CENTER</span>
					</div>
				</div>
				<p>Take your health and body to the next level with our comprehensive program designed to help you reach your fitness goals.</p>
				<div class="icons">
					<i class="fa-brands fa-facebook-f"></i>
					<i class="fa-brands fa-twitter"></i>
					<i class="fa-brands fa-pinterest-p"></i>
					<i class="fa-brands fa-youtube"></i>
				</div>
				<p>Privacy Policy | © 2023 Gymate</p>
			</div>
			<div class="item">
				<h3>Our Classes</h3>
				<a href="#">Fitness Classes</a>
				<a href="#">Aerobics Classes</a>
				<a href="#">Power Yoga</a>
				<a href="#">Learn Machines</a>
				<a href="#">Full-body Strength</a>
			</div>
			<div class="item">
				<h3>Working Hours</h3>
				<h4>Monday - Friday</h4>
				<p>7:00am - 9:00pm</p>
				<h4>Saturday</h4>
				<p>7:00am - 7:00pm</p>
				<h4>Sunday - Closed</h4>
			</div>
		</section>
	</body>
</html>