<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Gymnasium</title>
		<link rel="stylesheet" href="../style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<script src="script.js"></script>
	</head>
	<body>
		<section id="header">
			<nav>
				<div class="left">
					<img src="../images/logo.jpg" alt="" width="50px" height="50px">
					<div>
						<h4>Gymnasium</h4>
						<span>ULTIMATE GYM CENTER</span>
					</div>
				</div>
				<ul>
					<li><a href="../index.html">Home</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="gallery.html">Gallery</a></li>
					<li><a href="schedule.html" class="active">Schedule</a></li>
					<li><a href="blog.html">Blog</a></li>
					<li><a href="pricing.html">Pricing</a></li>
					<li><a href="classes.html">Classes</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
				<div class="right">
					<i class="fa-regular fa-user"></i>
					<i class="fa-regular fa-chart-bar"></i>
					<button>Join Class Now</button>
				</div>
			</nav>
			<div class="title">
				<h2>Schedule by Day</h2>
			</div>
		</section>

		<section id="schedule">
			<div class="top">
				<a href="#" class="active">Monday</a>
				<a href="#">Tuesday</a>
				<a href="#">Wednesday</a>
				<a href="#">Thursday</a>
				<a href="#">Friday</a>
				<a href="#">Saturday</a>
				<a href="#">Sunday</a>
			</div>
			<div class="container">
				<div class="row">
					<div class="title">
						<p>Class Name</p>
						<h4>Fitness</h4>
					</div>
					<div>
						<p>Time</p>
						<h4>9:00am - 10:00am</h4>
					</div>
					<div>
						<p>Trainer</p>
						<h4>David Vila</h4>
					</div>
					<a href="#">Join Now</a>
				</div>
				<div class="row">
					<div class="title">
						<p>Class Name</p>
						<h4>Fitness</h4>
					</div>
					<div>
						<p>Time</p>
						<h4>9:00am - 10:00am</h4>
					</div>
					<div>
						<p>Trainer</p>
						<h4>David Vila</h4>
					</div>
					<a href="#">Join Now</a>
				</div>
				<div class="row">
					<div class="title">
						<p>Class Name</p>
						<h4>Fitness</h4>
					</div>
					<div>
						<p>Time</p>
						<h4>9:00am - 10:00am</h4>
					</div>
					<div>
						<p>Trainer</p>
						<h4>David Vila</h4>
					</div>
					<a href="#">Join Now</a>
				</div>
				<div class="row">
					<div class="title">
						<p>Class Name</p>
						<h4>Fitness</h4>
					</div>
					<div>
						<p>Time</p>
						<h4>9:00am - 10:00am</h4>
					</div>
					<div>
						<p>Trainer</p>
						<h4>David Vila</h4>
					</div>
					<a href="#">Join Now</a>
				</div>
			</div>
		</section>

		<section id="footer">
			<div class="item one">
				<div class="left">
					<img src="../images/logo.jpg" alt="" width="50px" height="50px">
					<div>
						<h4>Gymnasium</h4>
						<span>ULTIMATE GYM CENTER</span>
					</div>
				</div>
				<p>Take your health and body to the next level with our comprehensive program designed to help you reach your fitness goals.</p>
				<div class="icons">
					<i class="fa-brands fa-facebook-f"></i>
					<i class="fa-brands fa-twitter"></i>
					<i class="fa-brands fa-pinterest-p"></i>
					<i class="fa-brands fa-youtube"></i>
				</div>
				<p>Privacy Policy | © 2023 Gymate</p>
			</div>
			<div class="item">
				<h3>Our Classes</h3>
				<a href="#">Fitness Classes</a>
				<a href="#">Aerobics Classes</a>
				<a href="#">Power Yoga</a>
				<a href="#">Learn Machines</a>
				<a href="#">Full-body Strength</a>
			</div>
			<div class="item">
				<h3>Working Hours</h3>
				<h4>Monday - Friday</h4>
				<p>7:00am - 9:00pm</p>
				<h4>Saturday</h4>
				<p>7:00am - 7:00pm</p>
				<h4>Sunday - Closed</h4>
			</div>
		</section>
	</body>
</html>