<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Gymnasium</title>
		<link rel="stylesheet" href="../style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<script src="../script.js" defer></script>
	</head>
	<body>
		<div class="navbar">
			<i class="fa-solid fa-x close"></i>
			<a href="../index.html">Home</a>
			<a href="about.html">about</a>
			<a href="gallery.html">Gallery</a>
			<a href="schedule.html">Schedule</a>
			<a href="blog.html">Blog</a>
			<a href="pricing.html">Pricing</a>
			<a href="classes.html">Classes</a>
			<a href="contact.html">Contact</a>
		</div>
		<div class="gym-center">
			<div class="top">
				<div>
					<h4>Gymnasium</h4>
					<span>GYM CENTER</span>
				</div>
				<i class="fa-solid fa-x cls"></i>
			</div>
			<div class="about">
				<h4>About Us</h4>
				<p>Find out who we are and what makes us unique. We are a community-driven gym committed to providing personalized fitness experiences for all levels of fitness enthusiasts in a welcoming and supportive environment.</p>
			</div>
			<div class="gallery">
				<h4>Gallery</h4>
				<div>
					<img src="../images/fit.jpg" alt="gym image">
					<img src="../images/pic2.jpg	" alt="gym image">
					<img src="../images/gym.jpg" alt="gym image">
					<img src="../images/gymm.jpg" alt="gym image">
					<img src="../images/ambas.jpg" alt="gym image">
					<img src="../images/pic1.jpg" alt="gym image">
				</div>
			</div>
			<div class="contact">
				<h4>Contact Info</h4>
				<div>
					<p><i class="fa-solid fa-magnifying-glass"></i> 59 Street, House Newyork City</p>
					<p><i class="fa-solid fa-phone"></i>+123-678800090</p>
					<p><i class="fa-solid fa-envelope"></i>gymate@gymail.com</p>
				</div>
			</div>
			<div class="follow">
				<h4>Follow Us</h4>
				<div>
					<i class="fa-brands fa-linkedin-in"></i>
					<i class="fa-brands fa-x-twitter"></i>
					<i class="fa-brands fa-facebook-f"></i>
				</div>
			</div>
		</div>
		
		<section id="header">
			<nav>
				<div class="left">
					<img src="../images/logo.jpg" alt="" width="50px" height="50px">
					<div>
						<h4>Gymnasium</h4>
						<span>GYM CENTER</span>
					</div>
				</div>
				<ul>
					<li><a href="../index.html">Home</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="gallery.html">Gallery</a></li>
					<li><a href="schedule.html">Schedule</a></li>
					<li><a href="blog.html">Blog</a></li>
					<li><a href="pricing.html">Pricing</a></li>
					<li><a href="classes.html">Classes</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
				<div class="right">
					<i class="fa-solid fa-bars bar"></i>
					<a href="signup.html"><i class="fa-regular fa-user"></i></a>
					<i class="fa-regular fa-chart-bar description"></i>
					<a href="contact.html" class="join"><button>Join Class Now</button></a>
				</div>
			</nav>
			<div class="title">
				<h2>Sign Up</h2>
			</div>
		</section>

		<section id="signup">
				<form action="../index.html" novalidate method="post">
					<label for="email">Email</label>
					<input type="email" placeholder="abcd@gmail.com">
					<label for="password">Password</label>
					<input type="password" placeholder="password">
					<button>SIGN UP</button>
					<h5>Already have account? <a href="signin.html">Sign In</a></h5>
					<p>( Make <span>new Accout</span> or go to <span>Sign In</span> Page for Test Account )</p>
				</form>
		</section>
		
		<section id="footer">
			<div class="item one">
				<div class="left">
					<img src="../images/logo.jpg" alt="" width="50px" height="50px">
					<div>
						<h4>Gymnasium</h4>
						<span>ULTIMATE GYM CENTER</span>
					</div>
				</div>
				<p>Take your health and body to the next level with our comprehensive program designed to help you reach your fitness goals.</p>
				<div class="icons">
					<i class="fa-brands fa-facebook-f"></i>
					<i class="fa-brands fa-twitter"></i>
					<i class="fa-brands fa-pinterest-p"></i>
					<i class="fa-brands fa-youtube"></i>
				</div>
				<p>Privacy Policy | © 2023 Gymate</p>
			</div>
			<div class="item">
				<h3>Our Classes</h3>
				<a href="#">Fitness Classes</a>
				<a href="#">Aerobics Classes</a>
				<a href="#">Power Yoga</a>
				<a href="#">Learn Machines</a>
				<a href="#">Full-body Strength</a>
			</div>
			<div class="item">
				<h3>Working Hours</h3>
				<h4>Monday - Friday</h4>
				<p>7:00am - 9:00pm</p>
				<h4>Saturday</h4>
				<p>7:00am - 7:00pm</p>
				<h4>Sunday - Closed</h4>
			</div>
		</section>
	</body>
</html>